<ion-header>
  <ion-toolbar>
    <ion-title>How To Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Content</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        How To Play
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Content
    </ion-card-content>
  </ion-card>
  <ion-button (click)="goToQuestions()">Start Season</ion-button>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home">ff</ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>
<ion-footer color="primary">
  fsdfsd
</ion-footer>