<ion-content [fullscreen]="true" class="center">
  <div class="row wrapper">
    <ion-grid>
      <ion-row text-align="center">
        <ion-col text-align="center">
          <div style="display: flex; justify-content: center;">
            <div class="dialogContents">
              <div class="content-title">
                <div class="back-button"></div>
              </div>
              <div class="content-image">
                <img src="/assets/game/chapter1/village.jpeg">
              </div>
              <div class="content-content">
                  <h2 class="ion-text-center">~ The Eye Behind the Silk ~</h2>
                  <p>The crowd thickens as midday nears. You hear the clang of hammer on steel
                     from the far edge of the square, where the blacksmith’s forge sends plumes
                      of dark smoke into the sky. The smell of molten iron mixes with cinnamon
                       and sweetwine from nearby stalls.</p>
                  <p>You pass a masked juggler tossing stones shaped like moons.</p>
                  <p>A woman sells crystal insects in glass jars that hum ancient lullabies.</p>
                  <p>You begin to wonder:</p>
                  <p>Was the market always like this… or are you simply seeing it now for what it truly is?</p>
                <p>Choose a Coin of Memory</p>  
                <div class="content-choice">
                  <div class="choice" id="1" (click)="selectOption(1)">
                    <span class="bullet" [ngClass]="status1 ? 'selected' : ''"></span>
                    <span class="bullet-text">🐉 A dragon coiled around a tree</span>
                  </div>
                  <div class="choice" id="2" (click)="selectOption(2)">
                    <span class="bullet" [ngClass]="status2 ? 'selected' : ''"></span>
                    <span class="bullet-text">🕯️ A candle with three wicks</span>
                  </div>
                  <div class="choice" id="3" (click)="selectOption(3)">
                    <span class="bullet" [ngClass]="status3 ? 'selected' : ''"></span>
                    <span class="bullet-text">⏳ An hourglass spilling upward</span>
                  </div>
                </div>
              </div>
              <div class="content-button" (click)="goToNextStep()">
                <button [class.blue]="true" type="button">
                  <div class="button-text" style="font-size: 21px;">Next</div>
                </button>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home" (click)="goHome()">ff</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="background-color: white">
  <ion-toolbar>
    <ion-buttons slot="start" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>