<ion-content [fullscreen]="true" class="center">
  <div class="row wrapper">
    <ion-grid>
      <ion-row text-align="center">
        <ion-col text-align="center">
          <div style="display: flex; justify-content: center;">
            <div class="dialogContents">
              <div class="content-title">
                <div class="back-button"></div>
              </div>
              <div class="content-image">
                <img src="/assets/game/chapter1/village.jpeg">
              </div>
              <div class="content-content">
                <h2 class="ion-text-center">~ Mira the Greengrower ~</h2>
                <p>You stop by Mira the Greengrower’s cart, as you always have. Her hands are
                  stained from peeling rinds, her smile warm and worn.</p>
                <p><i> - Ah, the boy returns,” she says, tossing a ripe plum into your satchel. “Your parents keeping
                    well?</i></p>
                <p>You nod, distracted by a shimmer—a flicker of memory. A market not of wood and rope,
                   but of metal and mist, where fruits glowed with inner fire and sellers whispered
                    in tongues unknown. A vision? A dream?</p>
                <p>No</p>
                <p>A memory</p>
                <div class="content-choice">
                  <div class="choice" id="1" (click)="selectOption(1)">
                    <span class="bullet" [ngClass]="status1 ? 'selected' : ''"></span>
                    <span class="bullet-text">📜 A city of lost scrolls and stone scholars</span>
                  </div>
                  <div class="choice" id="2" (click)="selectOption(2)">
                    <span class="bullet" [ngClass]="status2 ? 'selected' : ''"></span>
                    <span class="bullet-text"> 🐉 A burning battlefield echoing with ancient war cries</span>
                  </div>
                  <div class="choice" id="3" (click)="selectOption(3)">
                    <span class="bullet" [ngClass]="status3 ? 'selected' : ''"></span>
                    <span class="bullet-text"> 🌿 A grove older than the sun, guarded by whispering trees</span>
                  </div>
                </div>
              </div>
              <div class="content-button" (click)="goToNextStep()">
                <button [class.blue]="true" type="button">
                  <div class="button-text" style="font-size: 21px;">Next</div>
                </button>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home" (click)="goHome()">ff</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="background-color: white">
  <ion-toolbar>
    <ion-buttons slot="start" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>