<ion-content [fullscreen]="true" class="center">
  <div class="row wrapper">
    <ion-grid>
      <ion-row text-align="center">
        <ion-col text-align="center">
          <div style="display: flex; justify-content: center;">
            <div class="dialogContents">
              <div class="content-title">
                <div class="back-button"></div>
              </div>
              <div class="content-image">
                <img src="/assets/game/chapter1/village.jpeg">
              </div>
              <div class="content-content">
                <h1 class="ion-text-center">Chatpter 1</h1>
                <h2 class="ion-text-center">~ The Shattererd Veil ~</h2>
                <p>Anger and confusion swirl within you. You leave the village square before the celebration can begin,
                   your feet carrying you home before your thoughts can catch up.</p><p>The sky burns gold behind the hills,
                    but the warmth of the evening feels distant.You burst into the cottage, your voice sharper than you intended.</p>
            <i>“Why didn’t you tell me? Who am I?!”</i>

<p>Your parents flinch—not from fear, but from pain. They’ve carried this burden for eighteen years.</p>
                <div class="content-choice">
                  <div class="choice" id="1" [class.completed]="localStorageGame[0]?.['completed'].includes(1)" (click)="selectOption(1)" #campains>
                    <span class="bullet" [ngClass]="status1 ? 'selected' : ''"></span>
                    <span class="bullet-text">Unlock the Storm Within</span>
                    <span class="back-button span" [class.none]="isGameCompleted" #arrow></span>
                  </div>
                  <div class="choice" [class.completed]="localStorageGame[0]?.['completed'].includes(2)" id="2" (click)="selectOption(2)" #campains>
                    <span class="bullet" [ngClass]="status2 ? 'selected' : ''"></span>
                    <span class="bullet-text">Search the Hidden Drawer</span>
                  </div>
                  <div class="choice" [class.completed]="localStorageGame[0]?.['completed'].includes(3)" id="3" (click)="selectOption(3)" #campains>
                    <span class="bullet" [ngClass]="status3 ? 'selected' : ''"></span>
                    <span class="bullet-text">Stare into the Flames</span>
                  </div>
                </div>
              </div>
              <div class="content-button" (click)="goToNextStep()">
                <button [class.blue]="true" type="button" [class.gold]="isGameCompleted" [class.grey]="isDisabled" [disabled]="isDisabled">
                  <div class="button-text" style="font-size: 21px;">{{buttonText}}</div>
                </button>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home" (click)="goHome()">ff</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="background-color: white">
  <ion-toolbar>
    <ion-buttons slot="start" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>