<ion-content [fullscreen]="true" class="center">
  <div class="row wrapper">
    <ion-grid>
      <ion-row text-align="center">
        <ion-col text-align="center">
          <div style="display: flex; justify-content: center;">
            <div class="dialogContents">
              <div class="content-title">
                <div class="back-button"></div>
              </div>
              <div class="content-image">
                <img src="/assets/game/chapter1/village.jpeg">
              </div>
              <div class="content-content">
                  <h2 class="ion-text-center">~ 🔨 “Boy! You there!” ~</h2>
                  <p>Then, another call catches your ear. A voice you recognize.</p>
                  <p>It’s Tarn, the village stonemason, arms powdered in chalk and lime,
                     standing beside a massive slab of dark slate. He points to you with a grin—too
                      wide to be friendly.</p>
                  <p><i> - "You’ve got sharp eyes. Your mother says you’re good with puzzles and parts. Come here—tell me what shape this was meant to be."</i></p>
                  <p>You approach. Carved faintly into the stone is a complex spiral, surrounding
                     what looks like the shape of a lock… or a gate. A pattern calls to you
                     —not with sound, but with familiarity.</p>
                  <p>Tarn lays out three stone fragments, each etched with symbols—none of which
                     you’ve ever seen, and yet… you know exactly what they mean.</p>  
                <p>Stone of Remembrance</p>  
                <div class="content-choice">
                  <div class="choice" id="1" (click)="selectOption(1)">
                    <span class="bullet" [ngClass]="status1 ? 'selected' : ''"></span>
                    <span class="bullet-text">🐉 A shard marked with a compass rose</span>
                  </div>
                  <div class="choice" id="2" (click)="selectOption(2)">
                    <span class="bullet" [ngClass]="status2 ? 'selected' : ''"></span>
                    <span class="bullet-text">🕯️ A sliver etched with a crescent moon and eye</span>
                  </div>
                  <div class="choice" id="3" (click)="selectOption(3)">
                    <span class="bullet" [ngClass]="status3 ? 'selected' : ''"></span>
                    <span class="bullet-text">⏳ A triangle engraved with overlapping runes</span>
                  </div>
                </div>
              </div>
              <div class="content-button" (click)="goToNextStep()">
                <button [class.blue]="true" type="button">
                  <div class="button-text" style="font-size: 21px;">Next</div>
                </button>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home" (click)="goHome()">ff</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="background-color: white">
  <ion-toolbar>
    <ion-buttons slot="start" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>