<ion-content [fullscreen]="true" class="center">
  <div class="row wrapper">
    <ion-card>
  <ion-grid>    
    <ion-row text-align="center">
      <ion-col text-align="center">
        <div style="display: flex; justify-content: center;">
          <ion-avatar class="profile">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon (click)="userName.setFocus()" style="font-size:21px; font-weight: 700; position:absolute; top: 0; left:229px" name="create-outline">sfdfsd</ion-icon>
         <ion-input #userName class="profile-name" placeholder="Mihai Micsa"></ion-input>
        <div class="level">Level 1 Geologist</div>
        <div class="center">
        <ion-select style="width: 100px;" placeholder="Contry">
          <ion-select-option value="romanian">Romanian</ion-select-option>
          <ion-select-option value="hungarian">Humgarian</ion-select-option>
          <ion-select-option value="english">English</ion-select-option>
          <ion-select-option value="chinese">Chinese</ion-select-option>
        </ion-select></div>
      
      </ion-col>
    </ion-row>  
  </ion-grid>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        <div>
          <div style="text-align: center; margin-bottom: 20px;"><h1>Pick avatar</h1></div>
          <div class="avatars-wrapper">
            <img src="/assets/avatars/man.png" class="avatar-image">
            <img src="/assets/avatars/cat.png" class="avatar-image">
            <img src="/assets/avatars/man.png" class="avatar-image">
            <img src="/assets/avatars/cat.png" class="avatar-image">
            <img src="/assets/avatars/man.png" class="avatar-image">
            <img src="/assets/avatars/cat.png" class="avatar-image">
            <img src="/assets/avatars/man.png" class="avatar-image">
            <img src="/assets/avatars/cat.png" class="avatar-image">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home" (click)="goHome()">ff</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="background-color: white">
  <ion-toolbar>
    <ion-buttons slot="start" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

