<ion-content [fullscreen]="true">
  <div class="row wrapper">
    <ion-card class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-avatar class="profile">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
      <ion-col>
        <div class="profile-name">Mihai Micsa</div>
        <div class="level">Level 1 Geologist</div>
        <div>
        <ion-select placeholder="Language">
          <ion-select-option value="romanian">Romanian</ion-select-option>
          <ion-select-option value="hungarian">Humgarian</ion-select-option>
          <ion-select-option value="english">English</ion-select-option>
          <ion-select-option value="chinese">Chinese</ion-select-option>
        </ion-select>
      </div>
      </ion-col>
    </ion-row>  

  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-card>
  </div>
</ion-content>
