<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<div class="sidebarBox" style="position: sticky; z-index: 9999; margin-bottom: 15px">
  <div class="content" style="font-size: 23px; font-weight: bold; text-align: center;">
   Trivia 480 Question Challenge
  </div>
  <div class="toggle"></div>
</div>
<ion-content [fullscreen]="true" class="fixed-bg">
  
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="river-wrapper">
      <!-- <ion-card *ngFor="let question of getQuestions()">
        <ion-card-header>
          <ion-card-subtitle>2015-01-02 | geography</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          <ion-button expand="block" size="large" (click)="questionDetail('21')">Answer</ion-button>
          <button class="green normal" type="button">
            <div class="button-text">fsdfdsfds</div>
          </button>
        </ion-card-content>
      </ion-card> -->
      <div class="sidebarBox" *ngFor="let question of getQuestions()">
        <div class="content">
          <div style="font-weight: bolder; margin-bottom: 10px;">{{question.date | date}} | {{question.category}}</div>
          <button [disabled]="formattedDate !== question.date" [class.grey]="formattedDate !== question.date" [class.blue]="formattedDate === question.date" type="button" (click)="questionDetail(question.id)">
            <div class="button-text" style="font-size: 21px;">Answer</div>
          </button>
          <!-- <button class="gold" type="button" (click)="questionDetail('21')">
            <div class="button-text">fsdfdsfds</div>
          </button> -->
        </div>
        <!-- <div class="toggle"></div> -->
      </div>
      <!-- <div class="dialogContents" *ngFor="let question of getQuestions()"></div> -->
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
      <ion-fab-button (click)="goHome()">
        <ion-icon name="home">ff</ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
<ion-footer style="background-color: white">
  <ion-toolbar>
    <ion-buttons (click)="goToProfile()" slot="start" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>