<ion-content>
  <div class="row wrapper">
    <div class="avatar-border">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-icon name="camera-outline"></ion-icon>
      <div class="flag romania"></div>
    </div>
  </div>
  <div class="row wrapper ion-margin-top">
    <div class="player-name">Mihai Micsa</div>
  </div>
  <div class="row wrapper">
    <div class="player-level">Level 1 Geologist</div>
  </div>
  <div class="row" style="border: 1px dashed #000; border-radius: 15px; margin-top: 20px">
    <div class="row wrapper ion-margin-top" style="margin-bottom: 5px;">
      <div class="player-level">Trivia Challenge Progress</div>
    </div>
    <div class="row wrapper">
      <div class="progressBar">
        <div class="bar">
          <div class="decoration">230/480</div>
          <div class="filling primary green"></div>
          <!-- <div class="filling secondary green"></div> -->
        </div>
      </div>
    </div>
    <div class="row ion-margin">
      <!-- <ion-button expand="block" size="large" (click)="goToHowTo()">Trivia 480 Questions Challenge</ion-button> -->
      <button class="large blue" type="button" (click)="goToHowTo()">
        <div class="button-text" style="font-size: 21px;">Trivia 480 Questions Challenge</div>
      </button>
    </div>
  </div>
  <div class="row" style="border: 1px dashed #000; border-radius: 15px; margin-top: 20px">
    <div class="row wrapper ion-margin-top" style="margin-bottom: 5px;">
      <div class="player-level">Level Progress ...</div>
    </div>
    <div class="row wrapper">
      <div class="progressBar">
        <div class="bar">
          <div class="decoration">130/1000</div>
          <div class="filling primary green"></div>
          <!-- <div class="filling secondary green"></div> -->
        </div>
      </div>
    </div>
    <div class="row ion-margin">
      <!-- <ion-button expand="block" size="large">Solo Trivia Journey</ion-button> -->
      <button class="large blue" type="button" (click)="goToGame()">
        <div class="button-text" style="font-size: 21px;">Solo Trivia Journey</div>
      </button>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home">ff</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="background-color: white">
  <ion-toolbar>
    <ion-buttons slot="start" class="buttons-spacing">
      <ion-button (click)="goToProfile()">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-spacing">
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
      <ion-button>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <ion-icon class="bottom-menu" name="person-circle"></ion-icon>
          <div>Profile</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>