<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox cucu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row wrapper">
    <div class="avatar-border">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-icon name="camera-outline"></ion-icon>
      <div class="flag romania"></div>
    </div>
  </div>
  <div class="row wrapper ion-margin-top">
    <div class="player-name">Mihai Micsa</div>
  </div>
  <div class="row wrapper">
    <div class="player-level">Level 1 Geologist</div>
  </div>
  <div class="row wrapper ion-margin-top">
    <div class="progressBar">
      <div class="bar">
        <div class="decoration"></div>
        <div class="filling primary green"></div>
        <!-- <div class="filling secondary green"></div> -->
      </div>
    </div>
  </div>
  <div class="row ion-margin">
    <ion-button expand="block" size="large" (click)="goToHowTo()">Trivia 120 days challenge with prizes</ion-button>
  </div>
  <div class="row ion-margin">
    <ion-button expand="block" size="large">Play Solo Trivia Journey</ion-button>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button>
      <ion-icon name="home">ff</ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="background-color: white">
  fsdfsd
</ion-footer>